* {
    padding: 0;
    margin: 0;
    border: 0;
    touch-action: manipulation;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

button,
button:hover,
button:active,
input,
label,
textarea,
select,
a,
div {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    outline: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*---------------------------------------------------------------------*/

img,
a,
button,
p,
h1,
h2,
h3,
div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

::selection {
    background-color: #101010;
    color: #fff;
}

:root {
    --size2: calc(1px + (2 - 1) * ((100vw - 320px) / (1920 - 320)));
    --size4: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320)));
    --size5: calc(2.5px + (5 - 2.5) * ((100vw - 320px) / (1920 - 320)));
    --size8: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    --size16: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
    --size20: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    --size24: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    --size26: calc(13px + (26 - 13) * ((100vw - 320px) / (1920 - 320)));
    --size30: calc(15px + (30 - 15) * ((100vw - 320px) / (1920 - 320)));
    --size32: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    --size34: calc(17px + (34 - 17) * ((100vw - 320px) / (1920 - 320)));
    --size36: calc(18px + (36 - 18) * ((100vw - 320px) / (1920 - 320)));
    --size40: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    --size42: calc(21px + (42 - 21) * ((100vw - 320px) / (1920 - 320)));
    --size44: calc(22px + (44 - 22) * ((100vw - 320px) / (1920 - 320)));
    --size46: calc(23px + (46 - 23) * ((100vw - 320px) / (1920 - 320)));
    --size50: calc(25px + (50 - 25) * ((100vw - 320px) / (1920 - 320)));
    --size60: calc(30px + (60 - 30) * ((100vw - 320px) / (1920 - 320)));
    --size80: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    --size84: calc(42px + (84 - 42) * ((100vw - 320px) / (1920 - 320)));
    --size96: calc(48px + (96 - 48) * ((100vw - 320px) / (1920 - 320)));
    --size100: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    --size120: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
}



html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #101010;

    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

body.clicked {
    overflow: hidden;
}



/*HEADER*/

.header {
    width: 100%;
    padding: 0 var(--size50);
    position: fixed;
    z-index: 2;

    background-color: #fff;
}

.header__body {
    min-height: var(--size120);

    display: flex;
    align-items: center;
}

.header__logo {
    color: #101010;

    font-weight: 600;
    font-size: var(--size40);
    line-height: var(--size50);
}

.header__row {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    display: flex;
    padding: 0 var(--size50);
}

.header__list li {
    margin: 0 var(--size50) 0 0;
}

.link {
    display: flex;
    flex-direction: column;

    color: #101010;

    font-size: var(--size24);
    line-height: var(--size30);
    white-space: nowrap;

    transition: 0.2s;
}

.header__link {
    align-items: center;
}

.link:after {
    margin: var(--size4) 0 0 0;

    display: inline-block;
    width: 0px;
    height: var(--size4);
    border-radius: 100px;

    content: "";
    background-color: #407536;

    transition: 0.3s;
}

.link:active:after {
    width: var(--size16);
}

.link-active {
    display: flex;
    flex-direction: column;

    color: #407536;
}

.link-active:after {
    margin: var(--size4) 0 0 0;

    display: inline-block;
    width: var(--size36);
    height: var(--size4);
    border-radius: 100px;

    content: "";
    background-color: #407536;
}

.link-active:active:after {
    width: var(--size24);
}

.header__list li:last-child {
    margin: 0;
}

.header__sign-up {
    display: flex;
    align-items: center;
    margin: 0 var(--size50) 0 0;
}

.header__sign-up a {
    display: flex;
    align-items: center;
    min-height: var(--size80);
    border-radius: 100px;
    padding: 0 var(--size44);

    background-color: #407536;
    color: #fff;

    font-weight: 600;
    font-size: var(--size24);
    line-height: var(--size30);
    white-space: nowrap;

    transition: 0.3s;
}

.header__sign-up a:active {
    background-color: #101010;
}

.header__item {
    display: flex;
    margin: 0 var(--size8) 0 0;
}

.item__column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item__cart {
    width: 40px;
}

.item__cart img {
    width: 40px;
}

.item__tooltip {
    position: absolute;
    z-index: 3;
    top: 130%;
    left: 50%;
    padding: 16px;
    border-radius: 50px;

    background-color: #101010;
    color: #fff;

    white-space: nowrap;
    font-weight: 600;

    transform: translateX(-50%);
    opacity: 0;
    transition: 0.3s;
}

.item__tooltip--show {
    opacity: 1;
}

.header__burger {
    position: relative;
    margin: 0 0 0 var(--size30);
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: #101010;
    box-shadow: 0 0 0 0 #101010, 0 0 0 0 #101010;

    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.header__burger.clicked {
    box-shadow: 0 0 0 100vw #101010, 0 0 0 100vh #101010;
    border-radius: 0;
}

.item__burger {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.item__burger span {
    display: block;
    position: absolute;
    top: 45%;
    left: 5px;
    width: 30px;
    height: 4px;
    border-radius: 100px;

    background: #fff;

    transform-origin: center;
    transition: 0.5s ease-in-out;
}

.item__burger span:before,
.item__burger span:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100px;

    background: #fff;

    transition: 0.5s ease-in-out;
}

.item__burger span:before {
    top: -10px;
}

.item__burger span:after {
    bottom: -10px;
}

.item__burger.clicked span {
    transform: rotate(45deg);

}

.item__burger.clicked span:after {
    transform: rotate(90deg);
    bottom: 0;
}

.item__burger.clicked span:before {
    transform: rotate(90deg);
    top: 0;
}



/*LANDING*/

.landing {
    padding: var(--size120) 0 0 0;
}

.container {
    max-width: calc(720px + (1680 - 720) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    padding: 0 var(--size50);
}

.landing__row {
    display: flex;
    align-items: center;
}

.landing__body {
    display: flex;
    flex-direction: column;
    flex: 0 0 50%;
}

.landing__title {
    max-width: calc(335px + (670 - 335) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 0 var(--size40) 0;

    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    font-size: var(--size96);
    line-height: var(--size100);
}

.landing__subtitle {
    max-width: calc(310px + (620 - 310) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 0 var(--size60) 0;

    font-size: var(--size32);
    line-height: var(--size40);
}

.landing__item {
    display: flex;
}

.item__order {
    display: flex;
    align-items: center;
    min-height: var(--size84);
    padding: 0 var(--size60);
    border-radius: 100px;
    margin: 0 var(--size44) 0 0;

    background-color: #407536;
    color: #fff;

    font-weight: 700;
    font-size: var(--size24);
    line-height: var(--size30);
    letter-spacing: 0.05em;
    white-space: nowrap;

    transition: 0.3s;
}

.item__order:active {
    background-color: #101010;
    transition: 0.2s;
}

.item__download {
    display: flex;
    align-items: center;
    min-height: var(--size84);
    padding: 0 var(--size34);
    border-radius: 100px;

    border: var(--size2) solid #101010;
    color: #101010;

    font-weight: 700;
    font-size: var(--size24);
    line-height: var(--size30);
    letter-spacing: 0.05em;
    white-space: nowrap;

    transition: 0.3s;
}

.item__download div {
    margin: 0 var(--size16) 0 0;
    width: var(--size36);
}

.item__download div img {
    width: 100%;
    object-fit: cover;
}

.item__download span {
    display: inline-block;
}

.landing__img {
    width: calc(320px + (670 - 320) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex: 0 0 50%;
}

.landing__img img {
    width: 100%;
}



/*MENU*/

.menu {
    padding: var(--size120) 0 0 0;
}

.menu__row {
    display: flex;
}

.container {}

.menu__body {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.menu__column {
    display: flex;
    flex: 0 1 230px;
    max-width: 100%;
}

.column__body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories__title {
    margin: 0 0 var(--size50) 0;

    font-weight: 600;
    font-size: var(--size36);
    line-height: var(--size30);
}

.column__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column__list li {
    margin: 0 0 var(--size30) 0;
}

.column__list li:last-child {
    margin: 0;
}

.menu__arrow {
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin: 0 var(--size30);

    background-color: #fff;
    box-shadow: 0px 0px var(--size20) rgba(0, 0, 0, 0.15);

    transition: 0.2s;
    cursor: pointer;
}

.menu__arrow:active {
    transform: scale(0.9);
    box-shadow: 0px 0px var(--size16) rgba(0, 0, 0, 0.15);
}

.menu__arrow img {
    max-width: 40px;
}

.menu__arrow-next img {
    transform: rotate(180deg);
}



/*SWIPER*/
.swiper__container {
    width: calc(320px + (1000 - 320) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-direction: column;
    max-width: 1000px;
}

.swiper__body {
    display: flex;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;
}



.menu__grid {
    flex: 0 1 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-auto-rows: 1fr;
    column-gap: var(--size20);
    row-gap: var(--size30);
    justify-content: center;
    margin: var(--size30);
}

.menu__card {
    padding: 20px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);

    transition: 0.2s;
}

.card__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.card__column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    text-align: center;
}

.card__img {
    position: relative;
    padding: 0 0 150px 0;
}

.card__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__title {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    font-size: 20px;
    line-height: 24px;
}

.card__price {
    margin: 20px 0 0 0;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.card__input {
    margin: 16px 0 0 0;
    height: 50px;
    display: flex;
    border-radius: 100px;
    justify-content: space-between;

    background-color: #ececec;

    overflow: hidden;
}

.input__body {
    flex: 1 1 66.666%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
}

.input__body div {
    margin: 0 8px 0 0;
}

.input__body div:last-child {
    margin: 0;
}

.input__btn {
    border-radius: 50%;
}

.input__btn img {
    max-width: 100%;
}

.input__btn #plus,
.input__btn #minus {
    border-radius: 50%;
    transition: 0.2s;
}

.input__btn:active #plus {
    content: url("../img/icon/plus-hover.svg");
    background-color: #101010;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.input__btn:active #minus {
    content: url("../img/icon/minus-hover.svg");
    background-color: #101010;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.input__count {
    width: 30px;
    -moz-appearance: textfield;

    background-color: transparent;

    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
}

.input__add {
    flex: 1 1 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 16px;

    background-color: #101010;
    color: #fff;

    font-weight: 700;
    font-size: 24px;
    line-height: 24px;

    transition: 0.2s;
}

.input__add:active {
    background-color: #407536;
}

.column__filter {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.filter__title {
    margin: 0 0 var(--size50) 0;

    font-weight: 600;
    font-size: var(--size36);
    line-height: var(--size30);
    text-align: right;
}

.column__filter h3 {
    margin: 0 0 var(--size20) 0;

    font-size: var(--size24);
    line-height: var(--size30);
    text-align: right;
}

.filter__input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter__input input {
    margin: 0 0 var(--size30) 0;
    width: 100%;
    display: flex;
    height: var(--size50);
    border-radius: 100px;
    padding: 0 var(--size30);

    background-color: #fff;
    border: var(--size2) solid #101010;

    font-weight: 600;
    font-size: var(--size24);
    line-height: var(--size30);
}

.filter__input input:first-child {
    text-align: left;
}

.filter__input input:last-child {
    text-align: right;
}

.filter__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item__btn {
    margin: 0 0 var(--size30) 0;
    height: var(--size50);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ececec;
    color: #101010;

    font-weight: 600;
    font-size: var(--size24);
    line-height: var(--size30);

    transition: 0.2s;
}

.item__btn-active {
    background-color: #101010;
    color: #fff;
}

.filter__discount {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter__discount h3 {
    margin: 0 0 0 var(--size20);
    order: 2;
}

.filter__switch {
    position: relative;
    display: inline-block;
    width: var(--size80);
    height: var(--size40);
    order: 1;
}

.filter__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #101010;
    border-radius: 100px;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size30);
    width: var(--size30);
    left: var(--size4);
    bottom: var(--size5);
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2c7e35;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2c7e35;
}

input:checked+.slider:before {
    transform: translateX(var(--size42));
}



/*MEDIA*/

@media (min-width: 992px) {
    body {
        min-height: 100vh;
    }

    .container {
        min-height: calc(100vh - var(--size120));
    }
}

@media (max-width: 1250px) {
    .menu__body {
        max-width: 100%;
    }

    .swiper__container {
        max-width: 100%;
        width: 85%;
    }

    .menu__row {
        padding: 0;
    }

    .menu__body {
        flex-direction: column;
        align-items: center;
    }

    .menu__column {
        flex: 0 1 auto;
    }

    .column__body {
        margin: 0 auto;
        width: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
        align-items: center;
    }

    .menu__column-categories {
        order: 1;
    }

    .categories__title {
        font-size: var(--size60);
        line-height: var(--size60);
        cursor: pointer;
    }

    .column__list {
        display: none;
        align-items: center;
        margin: 0 0 var(--size50) 0;
    }

    .column__list.active {
        display: flex;
    }

    .menu__link {
        align-items: center;
        font-size: var(--size40);
        line-height: var(--size40);
    }

    .swiper__container {
        order: 3;
        overflow: hidden;
    }

    .menu__grid {
        margin: var(--size60);
    }

    .menu__column-filter {
        order: 2;
    }

    .filter__title {
        font-size: var(--size60);
        line-height: var(--size60);
        text-align: center;

        cursor: pointer;
    }

    .column__filter {
        align-items: center;
        display: none;
        margin: 0 0 var(--size50) 0;
    }

    .column__filter.active {
        display: flex;
    }

    .column__filter h3 {
        font-size: var(--size40);
    }

    .filter__input input {
        max-width: 100%;
        height: var(--size60);
    }

    .item__btn {
        height: var(--size60);
    }

    .filter__discount {
        justify-content: center;
        flex-direction: column;
    }

    .filter__discount h3 {
        order: 1;
        margin: 0 0 var(--size20) 0;
        line-height: var(--size30);
    }

    .filter__switch {
        order: 2;
    }
}

@media (max-width: 992px) {
    .landing__row {
        padding-top: 25px;
        flex-direction: column;
    }

    .landing__body {
        text-align: center;
        align-items: center;
    }

    .landing__item {
        margin: 0 0 var(--size30) 0;
    }

    .swiper__container {
        width: 100%;
    }
}

@media (max-width: 830px) {}

@media (max-width: 767px) {
    .header__body {
        justify-content: space-between;
    }

    .header__row {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
    }

    .header__row.clicked {
        display: flex;
    }

    .header__burger {
        display: flex;
        z-index: 4;
    }

    .header__list {
        flex-direction: column;
    }

    .header__list li {
        z-index: 5;
    }

    .header__link {
        font-size: var(--size80);
        line-height: var(--size100);
        margin: 0 0 var(--size30) 0;

        color: #fff;
    }

    .header__link:after {
        height: var(--size8);
        width: 0;
    }

    .header__link:hover:after {
        width: var(--size80);
    }

    .header__link:active:after {
        width: var(--size50);
    }

    .header__link-active {
        color: #407536;
    }

    .header__link-active:after {
        width: var(--size100);
    }

    .header__link-active:hover:after {
        width: var(--size120);
    }

    .header__link-active:active:after {
        width: var(--size80);
    }

    .header__list li {
        margin: 0;
    }

    .header__sign-up {
        justify-content: center;
        margin: 0 0 var(--size20) 0;
        z-index: 5;
    }

    .header__sign-up a {
        min-height: var(--size120);
        padding: 0 var(--size80);

        font-size: var(--size36);
        line-height: var(--size120);
    }
}

@media (max-width: 500px) {
    .landing__item {
        flex-direction: column;
        align-items: center;
    }

    .item__order {
        margin: 0 0 var(--size24) 0;
        min-height: var(--size96);
        padding: 0 var(--size80);

        font-size: var(--size36);
    }

    .item__download {
        margin: 0 0 var(--size24) 0;
        min-height: var(--size96);
        padding: 0 var(--size60);

        font-size: var(--size36);
    }
}

@media (hover: hover) {

    /*HEADER*/
    .link:hover {
        color: #407536;
    }

    .link:hover:after {
        width: var(--size26);
    }

    .link:active:after {
        width: var(--size16);
    }

    .link-active:hover:after {
        width: var(--size46);
    }

    .link-active:active:after {
        width: var(--size24);
    }

    .header__sign-up a:hover {
        background-color: #101010;
    }

    .header__sign-up a:active {
        background-color: #294824;
    }

    /*LANDING*/
    .item__order:hover {
        background-color: #101010;

        transform: translateY(-5px);
    }

    .item__order:active {
        transition: 0.2s;
        transform: translateY(0px);
    }

    .item__download:hover {
        transform: translateY(-5px);
    }

    .item__download:active {
        transition: 0.2s;
        transform: translateY(0px);
    }

    /*MENU*/
    .menu__arrow:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px var(--size24) rgba(0, 0, 0, 0.2);
    }

    .menu__arrow:active {
        transform: scale(0.95);
        box-shadow: 0px 0px var(--size16) rgba(0, 0, 0, 0.15);
    }

    .menu__card:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px var(--size20) rgba(0, 0, 0, 0.2);
    }

    .input__btn:hover #plus {
        content: url("../img/icon/plus-hover.svg");
        background-color: #101010;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .input__btn:hover #minus {
        content: url("../img/icon/minus-hover.svg");
        background-color: #101010;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .input__btn:active #plus {
        content: url("../img/icon/plus-hover.svg");
        background-color: #101010;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .input__btn:active #minus {
        content: url("../img/icon/minus-hover.svg");
        background-color: #101010;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }

    .input__add:hover {
        background-color: #407536;
    }

    .input__add:active {
        background-color: #294824;
    }
}