body.hide {
    overflow: hidden;
}

.get-app {
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    transition: 0.5s;
    transform: scale(0);
    z-index: 4;
}

.get-app.show {
    transition: 0.5s;
    transform: scale(1);
    display: flex;
}

.navbar.hide,
.wrapper.hide,
.footer.hide,
.back-to-top.hide {
    transition: 0.3s;
    transition-delay: 0.5s;
    transform: scale(0);
}

.get-app.hide {
    transform: scale(0);
}

.navbar.show,
.wrapper.show,
.footer.show,
.back-to-top.show {
    transition: 0.3s;
    transition-delay: 0.3s;
    transform: scale(1);
}

.close-popup {
    display: flex;
    position: absolute;
    top: 1%;
    right: 4%;
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    padding: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    transition: 0.2s;
}

.close-popup div {
    display: flex;
    position: relative;
    width: calc(26px + (36 - 26) * ((100vw - 320px) / (1200 - 320)));
    height: calc(20px + (28 - 20) * ((100vw - 320px) / (1200 - 320)));
}

.close-popup span {
    transform: scale(0);
    transition: all 0.3s ease 0s;
}

.close-popup div:before,
.close-popup div:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 99px;
    transition: all 0.3s ease 0s;
}

.close-popup div:before {
    top: 0;
}

.close-popup div:after {
    bottom: 0;
}

.close-popup div:before {
    transform: rotate(45deg) translateY(-50%);
    top: 50%;
    margin-left: -3%;
    margin-top: -1.5%;
}

.close-popup div:after {
    transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
    margin-left: -3%;
    margin-bottom: -1.5%;
}