@import url("https://fonts.googleapis.com/css?family=Inter:800");
@import url("https://fonts.googleapis.com/css?family=Inter:700");
@import url("https://fonts.googleapis.com/css?family=Inter:600");
@import url("https://fonts.googleapis.com/css?family=Inter:500");
@import url("https://fonts.googleapis.com/css?family=Inter:400");

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a,
a:active,
a:focus,
ol,
ul,
button,
button:hover,
button:active,
input,
label,
textarea,
button,
select,
a,
div {
    text-decoration: none;
    outline: none;
    list-style: none;
    background: none;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    outline: none;
}

html,
body {
    min-height: 100%;
    color: #000;
    background: linear-gradient(0deg, rgba(253, 207, 238, 1) 0%, rgba(175, 248, 255, 1) 50%, rgba(253, 207, 238, 1) 100%);
    background-color: #FDCFEE;
    background-repeat: no-repeat;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;

}

body.active {
    overflow: hidden;
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}



/*SCROLLBAR*/

/*firefox*/
:root {
    scrollbar-color: #252525 transparent !important;
    scrollbar-width: auto !important;
}

/*others*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 99px;
    -moz-border-radius: 99px;
    border-radius: 99px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: #252525;
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid transparent;
    background-color: #252525;
}

::-webkit-scrollbar-thumb:active {
    border: 2px solid transparent;
    background-clip: content-box;
    background-color: #575757;
}



/*SELECTION*/

::selection {
    background-color: #000000;
    color: white;
}



/*CURSOR*/

body,
a,
button {
    cursor: url('../images/cursor.svg'), default;
}

a:hover,
button:hover,
input {
    cursor: url('../images/cursor-hover.svg'), default;
}

body:active,
a:active,
button:active,
input:active {
    cursor: url('../images/cursor-active.svg'), default;
}



/*NAVBAR*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    backdrop-filter: blur(calc(1rem + (2 - 1) * ((100vw - 320px) / (1920 - 320))));
    -webkit-backdrop-filter: blur(calc(1rem + (2 - 1) * ((100vw - 320px) / (1920 - 320))));
    z-index: 2;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.nav-logo {
    display: flex;
    align-items: center;
    margin-right: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.nav-text-logo {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1920 - 320)));
    color: #000;
    margin-right: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.nav-logo img {
    max-width: calc(30px + (80 - 30) * ((100vw - 320px) / (1920 - 320)));
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-left ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-right ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-left ul li,
.nav-right ul li {
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.nav-left ul li:last-child,
.nav-right ul li:last-child {
    margin-right: 0;
}

.nav-link {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.nav-button {
    transition: 0.2s;
    cursor: pointer;
}

.nav-link-button {
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    color: #000;
    border-radius: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320))) calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    transition: 0.2s;
}

.nav-burger {
    display: none;
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    padding: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    border-radius: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320)));
    transition: 0.2s;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    position: relative;
    width: calc(27px + (36 - 27) * ((100vw - 320px) / (1200 - 320)));
    height: calc(21px + (28 - 21) * ((100vw - 320px) / (1200 - 320)));
}

.nav-menu span {
    position: absolute;
    background-color: #000;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    top: 43%;
    border-radius: 99px;
    transition: all 0.3s ease 0s;
}

.nav-menu:before,
.nav-menu:after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    border-radius: 99px;
    transition: all 0.3s ease 0s;
}

.nav-menu:before {
    top: 0;
}

.nav-menu:after {
    bottom: 0;
}

.nav-menu.active:before {
    transform: rotate(45deg);
    top: 43%;
}

.nav-menu.active:after {
    transform: rotate(-45deg);
    bottom: 43%;
}

.nav-menu.active span {
    transform: scale(0);
}



/*TOP CONTENT*/

.top-content {
    /*min-height: calc(100vh - (50px + (100 - 50) * ((100vw - 320px) / (1920 - 320))));*/
    display: flex;
    padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1920 - 320)));
    position: relative;
}

.ellipse-top {
    position: absolute;
    top: -30%;
    left: -15%;
    width: calc(250px + (600 - 250) * ((100vw - 320px) / (1920 - 320)));
    height: calc(250px + (600 - 250) * ((100vw - 320px) / (1920 - 320)));
    filter: blur(10px);
}

.container-row {
    flex: 1 1 auto;
    width: 100%;
    max-width: calc(320px + (1400 - 320) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
}

.title-left {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title-left-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%;
    padding: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) 0;
}

.title-left-title {
    max-width: 80%;
    font-size: calc(36px + (72 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    margin-bottom: calc(16px + (48 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.title-left-text {
    max-width: 95%;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(8px + (32 - 8) * ((100vw - 320px) / (1920 - 320)));
    color: rgba(0, 0, 0, 0.5);
}

.title-left-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
}

.market {
    margin-right: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    z-index: 1;
}

.market:last-child {
    margin-right: 0;
}

.market img {
    max-width: 100%;
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    border-radius: calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(7px + (14 - 7) * ((100vw - 320px) / (1920 - 320))) calc(10px + (20 - 10) * ((100vw - 320px) / (1920 - 320)));
    transition: 0.2s;
}

.title-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: calc(200px + (760 - 200) * ((100vw - 320px) / (1920 - 320)));
}

.title-right img {
    position: relative;
    max-width: 100%;
    z-index: 1;
}

.circle-1 {
    position: absolute;
    right: -10%;
    bottom: -10%;
    background-color: #ff4ee8;
    filter: blur(50px);
    border-radius: 100%;
    width: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
}

.circle-2 {
    position: absolute;
    left: 0%;
    bottom: 0%;
    background-color: #97c4ff;
    filter: blur(50px);
    border-radius: 100%;
    width: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
}

.circle-3 {
    position: absolute;
    right: -5%;
    top: 0%;
    background-color: #ff7fae;
    filter: blur(50px);
    border-radius: 100%;
    width: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
}

.circle-4 {
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: #feae7e;
    filter: blur(50px);
    border-radius: 100%;
    width: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(200px + (400 - 200) * ((100vw - 320px) / (1920 - 320)));
}



/*CENTER CONTENT*/

.center-content {
    padding: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    z-index: 1;
    position: relative;
}

.ellipse-center {
    position: absolute;
    top: 40%;
    right: -5%;
    width: calc(200px + (450 - 200) * ((100vw - 320px) / (1920 - 320)));
    height: calc(200px + (450 - 200) * ((100vw - 320px) / (1920 - 320)));
    filter: blur(10px);
}

.container-column {
    flex: 1 1 auto;
    width: 100%;
    max-width: calc(320px + (1400 - 320) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-content-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    z-index: 1;
}

.title {
    font-size: calc(36px + (72 - 36) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    margin-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
}

.pays {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    height: auto;
}

.pay {
    margin-right: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.pay:last-child {
    margin-right: 0;
}

.pay img {
    max-width: 100%;
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    border-radius: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    transition: 0.2s;
}

.center-content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    z-index: 1;
}

.device {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.device img {
    max-width: 100%;
}

.device-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: left;
}

.device-title {
    font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1;
    margin: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320))) 0;
}

.device-text {
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.5;
    text-align: justify;
}

.center-content-bottom {
    margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin-right: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    z-index: 1;
}

.data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.data-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
}

.inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.inputs:last-child {
    margin-bottom: 0;
}

.input-text {
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 500;
    margin-right: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    text-align: right;
    align-items: flex-end;
    min-width: 35%;
}

.inputs input {
    width: 100%;
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid rgba(0, 0, 0, 0.5);
    border-radius: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(6px + (12 - 6) * ((100vw - 320px) / (1920 - 320))) calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    background-color: transparent;
    transition: 0.2s;
}

.inputs input[type=input] {
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
}



/*FOOTER*/

.footer {
    display: flex;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    position: relative;
}

.ellipse-bottom {
    position: absolute;
    top: 5%;
    left: 0%;
    width: calc(250px + (650 - 250) * ((100vw - 320px) / (1920 - 320)));
    height: calc(250px + (650 - 250) * ((100vw - 320px) / (1920 - 320)));
    filter: blur(10px);
}

.footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320))) calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
}

.footer-title {
    white-space: nowrap;
    font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    margin-bottom: calc(16px + (32 - 16) * ((100vw - 320px) / (1920 - 320)));
    color: #000;
    transition: 0.2s;
}

.socials {
    width: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
    height: calc(100px + (200 - 100) * ((100vw - 320px) / (1920 - 320)));
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.linkedin {
    max-width: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: absolute;
    top: 0;
    left: 0;
}

.linkedin:hover {
    transform: scale(1.1);
    filter: invert(29%) sepia(75%) saturate(1385%) hue-rotate(175deg) brightness(93%) contrast(98%);
}

.linkedin:active {
    transform: scale(0.9);
    filter: invert(18%) sepia(97%) saturate(995%) hue-rotate(174deg) brightness(94%) contrast(101%);
    transition: 0.2s;
}

.youtube {
    max-width: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: absolute;
    right: 0;
    top: 25%;

}

.youtube:hover {
    transform: scale(1.1);
    filter: invert(26%) sepia(82%) saturate(6950%) hue-rotate(354deg) brightness(86%) contrast(124%);
}

.youtube:active {
    transform: scale(0.9);
    filter: invert(13%) sepia(69%) saturate(5449%) hue-rotate(356deg) brightness(81%) contrast(112%);
    transition: 0.2s;
}

.twitter {
    max-width: calc(40px + (80 - 40) * ((100vw - 320px) / (1920 - 320)));
    position: absolute;
    left: 0;
    bottom: 0;
}

.twitter:hover {
    transform: scale(1.1);
    filter: invert(54%) sepia(17%) saturate(6377%) hue-rotate(179deg) brightness(90%) contrast(98%);
}

.twitter:active {
    transform: scale(0.9);
    filter: invert(30%) sepia(96%) saturate(809%) hue-rotate(173deg) brightness(89%) contrast(93%);
    transition: 0.2s;
}

.footer-section ul li {
    text-align: left;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    margin-bottom: calc(16px + (24 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.footer-section ul li a {
    color: rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.theme {
    width: calc(180px + (240 - 180) * ((100vw - 320px) / (1920 - 320)));
    border: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid #000;
    border-radius: calc(8px + (16 - 8) * ((100vw - 320px) / (1920 - 320)));
}

.theme button {
    width: 100%;
    font-size: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    padding: calc(12px + (24 - 12) * ((100vw - 320px) / (1920 - 320))) calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    border-bottom: calc(2px + (4 - 2) * ((100vw - 320px) / (1920 - 320))) solid #000;

}

.theme button:last-child {
    border-bottom: 0;
}

.theme-default,
.theme-default:hover,
.theme-default:active {
    background-color: #000;
    border-top-left-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    border-top-right-radius: calc(4px + (8 - 4) * ((100vw - 320px) / (1920 - 320)));
    color: #fff;
}

.theme-light,
.theme-dark {
    color: #000;
    background-color: transparent;
}



/*PSEUDO CLASSES*/

.nav-link-button:hover,
.nav-burger:hover,
.market img:hover,
.pay img:hover,
.nav-link-button:focus,
.nav-burger:focus,
.market img:focus,
.pay img:focus,
.inputs input:focus {
    border-color: #000000;
}

.nav-link-button:active,
.nav-burger:active,
.market img:active,
.pay img:active {
    border-color: rgba(0, 0, 0, 0.5);
}

.nav-link-button:active {
    color: rgba(0, 0, 0, 0.5);
}

.nav-link:hover,
.footer-section ul li a:hover,
.nav-link:focus,
.footer-section ul li a:focus {
    color: #000000;
}

.nav-link:active,
.footer-section ul li a:active {
    color: rgba(0, 0, 0, 0.5);
}

.nav-burger:active .nav-menu span {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-burger:active .nav-menu:before,
.nav-burger:active .nav-menu:after {
    background-color: rgba(0, 0, 0, 0.5);
}



/*MEDIA REQUESTS*/

/*PORTRAIT*/

@media (max-width: 1200px) and (orientation: portrait) {
    .navbar.active {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        height: 0;
    }

    .nav-logo.active {
        transform: scale(0);
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6rem);
        -webkit-backdrop-filter: blur(6rem);
        overflow: auto;
    }

    .nav.active {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .nav-left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .nav-right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    .nav-left ul,
    .nav-right ul {
        flex-direction: column;
    }

    .nav-left ul li,
    .nav-right ul li {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
        line-height: 10vh;
        margin-right: 0;
    }

    .nav-button:hover {
        transform: scale(1.1);
    }

    .nav-button:active {
        transform: scale(0.9);
    }

    .nav-link-button {
        line-height: 2;
        border: 0;
        background-color: #000;
        color: #fff;
        padding: calc(14px + (28 - 14) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
        border-radius: calc(14px + (28 - 14) * ((100vw - 320px) / (1920 - 320)));
    }

    .nav-link-button:hover {
        background-color: #101010;
    }

    .nav-link-button:active {
        background-color: #000;
        color: #fff;
    }

    .nav-burger {
        display: block;
        position: relative;
    }

    .wrapper.active {
        transition: 0.3s;
        transform: scale(0);
    }

    .title-left {
        align-self: center;
    }

    .title-left-top {
        text-align: center;
        align-items: center;
    }

    .title-left-bottom {
        align-items: center;
        justify-content: center;
    }

    .title-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
}

@media (max-width: 992px) and (orientation: portrait) {}

@media (max-width: 767px) and (orientation: portrait) {
    .nav-menu span {
        height: 3px;
    }

    .nav-menu:before,
    .nav-menu:after {
        height: 3px;
    }

    .container-row {
        flex-direction: column;
    }

    .title-left {
        max-width: 80%;
    }



    .center-content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 80%;
    }

    .device-description {
        justify-content: center;
        text-align: center;
    }

    .center-content-bottom {
        max-width: 80%;
        margin-right: 0;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .data-left {
        justify-content: center;
        align-items: center;
        margin-right: 0;
        margin-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    }

    .inputs {
        max-width: 80%;
    }

    .footer-section {
        align-items: center;
        padding-bottom: 0;
    }

    .footer-section:last-child {
        padding-bottom: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
    }

    .footer-title:hover {
        color: rgba(0, 0, 0, 0.5);
    }

    .footer-title:active {
        color: #000;
    }

    .bank-section,
    .about-section,
    .socials,
    .theme {
        display: none;
    }

    .bank-section.active,
    .about-section.active,
    .socials.active,
    .theme.active {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) and (orientation: portrait) {
    .nav-menu span {
        height: 2px;
    }

    .nav-menu:before,
    .nav-menu:after {
        height: 2px;
    }

    .container-row {
        max-width: none;
    }

    .title-left {
        max-width: 90%;
    }



    .container-column {
        max-width: none;
    }

    .center-content-center {
        max-width: 90%;
    }

    .center-content-bottom {
        max-width: 90%;
    }
}



/*LANDSCAPE*/

@media (max-width: 1200px) and (orientation: landscape) {
    .navbar.active {
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        height: 0;
    }

    .nav-logo.active {
        transform: scale(0);
    }

    .nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(6rem);
        -webkit-backdrop-filter: blur(6rem);
        overflow: auto;
    }

    .navbar-wrapper {
        padding: calc(5px + (10 - 5) * ((100vw - 320px) / (1920 - 320))) calc(32px + (64 - 32) * ((100vw - 320px) / (1920 - 320)));
    }

    .nav.active {
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        top: 0;
        transition: all 0.3s ease 0s;
    }

    .nav-left {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-right: 8vw;
        height: 60vh;
    }

    .nav-right {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 60vh;
    }

    .nav-left ul,
    .nav-right ul {
        flex-direction: column;
    }

    .nav-left ul li,
    .nav-right ul li {
        font-size: calc(24px + (48 - 24) * ((100vw - 320px) / (1920 - 320)));
        line-height: 10vw;
        margin-right: 0;
    }

    .nav-button:hover {
        transform: scale(1.1);
    }

    .nav-button:active {
        transform: scale(0.9);
    }

    .nav-link-button {
        line-height: 2;
        border: 0;
        background-color: #000;
        color: #fff;
        padding: calc(14px + (28 - 14) * ((100vw - 320px) / (1920 - 320))) calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
        border-radius: calc(14px + (28 - 14) * ((100vw - 320px) / (1920 - 320)));
    }

    .nav-link-button:hover {
        background-color: #101010;
    }

    .nav-link-button:active {
        background-color: #000;
        color: #fff;
    }

    .nav-burger {
        display: block;
        position: relative;
    }

    .wrapper.active {
        transition: 0.3s;
        transform: scale(0);
    }

    .title-left-title {
        max-width: 80%;
        line-height: 1;
    }

    .title-left-text {
        max-width: 95%;
    }
}

@media (max-width: 992px) and (orientation: landscape) {

}

@media (max-width: 767px) and (orientation: landscape) {
    .nav-menu span {
        height: 3px;
    }

    .nav-menu:before,
    .nav-menu:after {
        height: 3px;
    }

    .title-left-bottom {
        width: 90%;
    }


}